<footer class="section--footer">
  <div class="container container--content">
    <div>
      Lovingly baked with <a href="http://spelt.io">Spelt</a>.
    </div>
    <ul class="socialAccountList">
      <li><a href="http://twitter.com/laserkiwiblog" class="socialAccount socialAccount--twitter" target="_blank"></a></li>
      <li><a href="http://facebook.com/laserkiwiblog" class="socialAccount socialAccount--facebook" target="_blank"></a></li>
      <li><a href="http://www.linkedin.com/in/katiemacoy" class="socialAccount socialAccount--linkedin" target="_blank"></a></li>
      <li><a href="http://dribbble.com/katiemacoy" class="socialAccount socialAccount--dribbble" target="_blank"></a></li>
    </ul>
    <div>
      <strong>{{ site.author.name }}</strong> © 2016 All Rights Reserved.
    </div>
  </div>
</footer>
