<section class="section--subscribe">
  <div class="container container--content">
      <style>
    img.pancakes {
    display: block;
    margin-left: auto;
    margin-right: auto }
    </style>
    <img class="pancakes" src="/assets/images/katie.png" alt="Katie's picture" align="middle" style="width:180px;height:180px;">
    <h3 class="u-alignCenter">Who is Laser Kiwi?</h3>
    <p>
      Hi, I'm <a href="/about/">{{ site.author.name }}</a>. I'm a 27 year old nomad, currently living in New Zealand. I created this blog to help others thinking of moving to New Zealand. Sign up for the newsletter to never miss a beat. 
    </p>
    <div class="newsletterForm-wrapper">
      <!-- Begin MailChimp Signup Form -->
     <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//laserkiwi.us13.list-manage.com/subscribe/post?u=5c21cc8880a0d9b17eb6c0a97&amp;id=01aa8c9667" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Get new blog posts by email</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5c21cc8880a0d9b17eb6c0a97_01aa8c9667" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
      <!--End mc_embed_signup-->
    </div>
    <hr/>
  </div>
</section>
