<!DOCTYPE html>
<html lang="en-us" class="no-js">

  {% include "head.html" %}

  <body>
    {% ifnot index %}
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
      {% include "sidebar-nav.html" %}
      {% include "menu.html" %}
    {% endif %}

    {{ content }}

    {% ifnot index %}
      {% include "sidebar-toggle.html" %}
    {% endif %}

    {% if index %}
      {% include "subscribe.html" %}
      {% include "footer.html" %}
    {% endif %}

    {% include "footer-scripts.html" %}
  </body>
</html>
